
/* Media Queries */
@media only screen and (max-width: 767px) {
    .heading h1 {
        font-size: 35px;
    }

    .heading p {
        font-size: 16px;
    }

    .signup-form h1 {
        font-size: 24px;
    }

    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form input[type="submit"] {
        font-size: 16px;
        padding: 8px;
        margin: 4px;
    }

    .signup-form p {
        font-size: 14px;
        /* margin: 2px; */
    }
}

@media only screen and (min-width: 768px) {
    .heading h1 {
        font-size: 60px;
    }

    .heading p {
        font-size: 18px;
    }

    .signup-form h1 {
        font-size: 30px;
    }

    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form input[type="submit"] {
        /* font-size: 18px; */
        padding: 12px;
        font-size: 14px;
        width: 100%; /* Make input fields take full width */
        padding: 10px;
        margin: 6px 0; /* Adjust margins for spacing */
    }

    .signup-form p {
        font-size: 16px;
    }
    label {
        font-size: 14px; /* Smaller label font for compact layout */
    }
}



/* FORM */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}

main .heading{
    text-align: center;
}
main .signup-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, beige 20%, rgb(192, 189, 189));
    width: 40%;
    border-radius: 10px;
    flex-direction: column;

}


form{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form input{
    width: 350px;
    height: 40px;
    border-radius: 5px;
}
form label{
    padding-top: 20px;
}

#signup-btn{
    margin-top: 30px;
    width: 50%;
    align-self: center;
    background-color: rgb(29, 172, 57);
}




/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 20px;

}

.footer-items ul{
    display: flex;
    list-style: none;
}

.footer-items ul li{
    padding-left: 20px;
    /* background: linear-gradient(to right, rgb(124, 114, 114, 0.1), rgb(75, 73, 73, 0.7)); */

}

.footer-items ul li a{
    text-decoration: none;
    color: white;
}

.footer-items ul li a:hover{
    color: rgb(14, 14, 181);
}

.brand{
    font-weight: bolder;
    color: #f8b231;
}
