<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../js/dashboard.js">
</head>

<body>

    <header>
        <div class="head-info">
            <!-- Logo -->
            <div class="logo">
                <img src="../media/logo.png" alt="logo">
                <p>MyRecipes</p>
            </div>

            <!-- Navigation bar -->
            <nav>
                <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="recipes.html">Recipes</a></li>
                    <li><a href="users.html">Users</a></li>

                </ul>
            </nav>
        </div>
        <hr style="margin-top: 0; ">
    </header>



    <main>
        <!-- Statistics: number of users and recipes -->
        <section class="numbers">

            <!-- <div class="stats-infor">
                <h1>
                    The MyRecipes Community has experienced growth in the pas 5 years with diverse recipes 
                    from over 120 countries in all the continents
                </h1>
            </div> -->

            <div class="stats">
                <!-- Number of users -->
                <div class="nums">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <div class="statistic">
                                <h1>1460</h1>
                                <p>Total number of users</p>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Number of recipes -->
                <div class="nums">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <div class="statistic">
                                <h1>4570</h1>
                                <p>Total number of recipes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>



        <!-- Bar Chart: Number of users per month -->
        <section class="graph">
            <div style="display: flex; flex-direction: column;">

                <!-- Graph title -->
                <h2 class="graph-title" >
                    Recipes Distribution for 2024
                </h2>
                <hr style="width:50%; margin-bottom: 6%; border-bottom: solid black 1px;">

                <div class="bar-graph">
                    <!-- y- label -->
                    <h3 class="y-label" style="writing-mode: vertical-rl; text-align: center; color: rgb(20, 20, 89);">No. of Recipes</h3> 

                    <!-- Bar chart drawing -->
                    <div class="chart-container">
                        <div class="bar" style="height: 95%;" data-value="120 recipes"><span>January</span></div>
                        <div class="bar" style="height: 50%;" data-value="30 recipes"><span>February</span></div>
                        <div class="bar" style="height: 56%;" data-value="67 recipes"><span>March</span></div>
                        <div class="bar" style="height: 50%;" data-value="120 recipes"><span>April</span></div>                        
                        <div class="bar" style="height: 50%;" data-value="120 recipes"><span>June</span></div>
                        <div class="bar" style="height: 80%;" data-value="67 recipes"><span>July</span></div>                        
                        <div class="bar" style="height: 50%;" data-value="120 recipes"><span>August</span></div>                        
                        <div class="bar" style="height: 78%;" data-value="120 recipes"><span>September</span></div>                        
                        <div class="bar" style="height: 34%;" data-value="120 recipes"><span>October</span></div>                        
                        <div class="bar" style="height: 50%;" data-value="120 recipes"><span>November</span></div>                        
                        <div class="bar" style="height: 1%;" data-value="120 recipes"><span>December</span></div>  
                    </div>                  
                </div>
            </div>
        </section>


        <!-- Top Users -->
        <section class="top-users">
            <div class="all-users">
                <h1 style="color:white; text-align: center; margin-top: 15%; margin-bottom: 6%; font-size: 60px;">Here are our top 🌟5🌟 users!</h1>

                <!-- all users -->
                <div class="users">

                    <!-- user profile -->
                    <div class="user">

                        <!-- image/ profile of user -->
                        <div class="user-img">
                            <img src="../media/ruva.jpg" alt="user1">
                        </div>

                        <!-- username -->
                        <div class="username">
                            <p style="text-align: center;">@ruva-01</p>

                            <!-- stars -->
                            <div class="user-stars">
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>

                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                            </div>
                        </div>

                                <!-- Back of the user card (after flip) -->
                        <div class="user-back">
                            <h3>@ruva-01</h3>
                            <p>User ID: 12345</p>
                            <p>Number of recipes: 10</p>
                            <p><a href="profile.html">profile</a></p>
                        </div>


                    </div>



                    <!-- user profile -->
                    <div class="user">

                        <!-- image/ profile of user -->
                        <div class="user-img">
                            <img src="../media/ruva.jpg" alt="user1">
                        </div>

                        <!-- username -->
                        <div class="username">
                            <p style="text-align: center;">@ruva-01</p>

                            <!-- stars -->
                            <div class="user-stars">
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>

                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                            </div>
                        </div>

                                <!-- Back of the user card (after flip) -->
                        <div class="user-back">
                            <h3>@ruva-01</h3>
                            <p>User ID: 12345</p>
                            <p>Number of recipes: 10</p>
                            <p><a href="profile.html">profile</a></p>
                        </div>


                    </div>



                    <!-- user profile -->
                    <div class="user">

                        <!-- image/ profile of user -->
                        <div class="user-img">
                            <img src="../media/ruva.jpg" alt="user1">
                        </div>

                        <!-- username -->
                        <div class="username">
                            <p style="text-align: center;">@ruva-01</p>

                            <!-- stars -->
                            <div class="user-stars">
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>

                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                            </div>
                        </div>

                                <!-- Back of the user card (after flip) -->
                        <div class="user-back">
                            <h3>@ruva-01</h3>
                            <p>User ID: 12345</p>
                            <p>Number of recipes: 10</p>
                            <p><a href="profile.html">profile</a></p>
                        </div>


                    </div>




                    <!-- user profile -->
                    <div class="user">

                        <!-- image/ profile of user -->
                        <div class="user-img">
                            <img src="../media/ruva.jpg" alt="user1">
                        </div>

                        <!-- username -->
                        <div class="username">
                            <p style="text-align: center;">@ruva-01</p>

                            <!-- stars -->
                            <div class="user-stars">
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>

                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                            </div>
                        </div>

                                <!-- Back of the user card (after flip) -->
                        <div class="user-back">
                            <h3>@ruva-01</h3>
                            <p>User ID: 12345</p>
                            <p>Number of recipes: 10</p>
                            <p><a href="profile.html">profile</a></p>
                        </div>


                    </div>




                    <!-- user profile -->
                    <div class="user">

                        <!-- image/ profile of user -->
                        <div class="user-img">
                            <img src="../media/ruva.jpg" alt="user1">
                        </div>

                        <!-- username -->
                        <div class="username">
                            <p style="text-align: center;">@ruva-01</p>

                            <!-- stars -->
                            <div class="user-stars">
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>

                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                                <input type="radio" name="rating-cheeseburger" id="star4-cheeseburger" value="4" />
                                <label for="star4-cheeseburger" class="star">&#9733;</label>
                                <input type="radio" name="rating-cheeseburger" id="star5-cheeseburger" value="5" />
                                <label for="star5-cheeseburger" class="star">&#9733;</label> <!-- Unicode filled star -->
                            
                            </div>
                        </div>

                                <!-- Back of the user card (after flip) -->
                        <div class="user-back">
                            <h3>@ruva-01</h3>
                            <p>User ID: 12345</p>
                            <p>Number of recipes: 10</p>
                            <p><a href="profile.html">profile</a></p>
                        </div>


                    </div>

                    

                </div>
            </div>
        </section>

    </main>


    <footer>

    </footer>


    
</body>
</html>