<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myrecipes</title>
    <link rel="stylesheet" href="../css/index.css">
</head>


<body>

    <!-- <hr style="border: 2px solid rgb(182, 147, 81); background: linear-gradient(to bottom, orange, black);"> -->

    <header>
        
        <!-- The logo -->
        <div class="logo">
            <img src="../media/logo.png" alt="logo">
            <p>MyRecipes</p>
        </div>


        <!-- Navigation Bar -->
        <nav>
            <div><a href="signup.html">Sign in</a></div>
            <div><a href="login.html">Log in</a></div>
            <div 
                style="
                    background-color: black; 
                    height: 50px; align-items: center; 
                    padding-top: 30px; width:43%;
                    text-align: center;
                    
                    ">
                    <a href="recipe_feed.html" style="color: white;">Get Started</a></div>
        </nav>

    </header>

    <hr style="border: 1px solid black; width: 88%;">

    

    <main>
        <div class="introMsg">
            <h1>Welcome to <span style="font-weight: bolder; font-style: italic; font-size: 70px; color: orange;">MyRecipes</span></h1>
            <div class="welcome" >
                <p>
                    Join <span style="font-weight: bolder; font-style: italic; font-size: 30px; color: orange;">MyRecipes</span> 
                    today and get access to a miilion of delicious delicacies
                </p>
            </div>
           
            <a href="recipe_feed.html">
                <div class="explore">
                    <p>Start exploring</p>
                    <!-- <img src="../media/arrow.png" alt="left arrow"> --> 
                </div>
            </a>
            
        </div>

    </main>


    <footer>

    </footer>
</body>
</html>