<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe sharing</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/global_user.css">
</head>

<body>

    <header>
        <nav class="menu-container">
            <!-- burger menu -->
            <input type="checkbox" aria-label="Toggle menu" />
            <span></span>
            <span></span>
            <span></span>
          
            <!-- logo -->
            <a href="#" class="menu-logo">
               <img src="../media/mylogo.png" alt="logo">
            </a>
          
            <!-- menu items -->
            <div class="menu">
              <ul>
                <li>
                  <a href="index.html">
                    Home
                  </a>
                </li>
                <li>
                  <a href="recipe_feed.html">
                    Recipes
                  </a>
                </li>
                <li>
                  <a href="#favorites">
                    Favorites
                  </a>
                </li>
                <li>
                  <a href="dashaboard.html">
                    Dashboard
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="signup.html">
                    Sign-up
                  </a>
                </li>
                <li>
                  <a href="login.html">
                    Login
                  </a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    





    <main>

        <!-- HEADING -->
        <div class="heading">
            <h1 style="margin-bottom: 0px; font-size: 80px;"><span class='brand' style="font-weight: bolder; font-style: italic; ">MyRecipes</span></h1>
            <p style="margin-top: 0px;">Ready to Discover and Share New Recipes?.</p>
        </div>

        <!-- SIGN UP FORM -->
        <div class="signup-form" id="login-form">
            <form action="../db/signup.php" method="post">
                <h1 style="text-align: center; margin-bottom: 15px; padding-top: 20px;">Welcome Back!</h1>
                <!-- <p style="margin-top: 0px; font-size: 16px; text-align: center;">Log in to access your recipe collection <br>and more!</p> -->

                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Enter your username">
                <span id="username-error-message" class="error"></span>
                

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required min="8" placeholder="Enter your password">
                <span id="password-error-message" class="error"></span> 


                <div style="font-size: 18px; display: flex; align-items: center; justify-content: space-between;">
                    <div style="display: flex; align-items: center; ">
                            <input type="radio" style="width: 18px;">
                            <p>Remember me</p>
                    </div>

                    <a href="resetpassword">Forgot password?</a>
                </div>


                <input type="submit" id="signup-btn">

            </form>

            <p style="padding-top: 10px; padding-bottom: 20px;">Don't have an account? <a href="signup.html">Signup</a></p>
        </div>
    </main>

    <!-- <hr style="margin-top: 30px; width: 90%; margin-bottom: 0px; border-top: 2px solid black; border-bottom: 2px solid black;"> -->



    <footer>

        <!-- COPY RIGHTS -->
        <div>
            &copy;<span class="brand" style="font-style: italic;">MyRecipes</span>
        </div>


        <!-- FOOTER LINKS -->
        <div class="footer-items">
            <ul>
                <li><a href="home.html">Terms of Service</a></li>
                <li><a href="content.html">Privacy Policy</a></li>

            </ul>
        </div>

    </footer>
      
    <script src="../js/login.js"></script>
</body>
</html>