<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe sharing</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/global_style.css">
</head>

<body>

    <header class="header">
        <div class="logo">
            <img src="../media/logo.png" alt="Brand Logo" class="logo-image"> <!-- Replace 'logo.png' with your logo file -->
            <span class="brand-name">Brand Name</span>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="index.html" target="_blank">Homepage</a></li>
                <li><a href="recipe_feed.html" target="_blank">Recipes</a></li>
                <li><a href="#">Favourites</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Signup</a></li>
            </ul>
        </nav>
    </header>


    <!-- <hr style="width: 90%; border-top: 2px solid black; border-bottom: 2px solid black;"> -->



    <main>

        <!-- HEADING -->
        <div class="heading">
            <h1 style="margin-bottom: 0px; font-size: 60px;">Join <span class='brand' style=" font-style: italic;">MyRecipes</span> Community!</h1>
            <p style="margin-top: 0px;">Sign up to become a member and share your recipes.</p>
        </div>

        <!-- SIGN UP FORM -->
        <div class="signup-form">
            <form action="../db/signup.php" method="post">
                <h1 style="text-align: center; margin-bottom: 0px;">Sign Up!</h1>

                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" required placeholder="Enter your firstname">

                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" required placeholder="Enter your lastname">

                <label for="username">Username</label>
                <input type="text" name="username" id="username" required placeholder="Enter your username">
                <span id="username-error-message" class="error"></span>
                
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required placeholder="Enter your email">
                <span id="email-error-message" class="error"></span>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" required min="8" placeholder="Enter your password">
                <span id="password-error-message" class="error"></span>

                <input type="submit" id="signup-btn">

            </form>

            <p>Already have an account? <a href="login.html">Login</a></p>
        </div>
    </main>

    <!-- <hr style="margin-top: 30px; width: 90%; margin-bottom: 0px; border-top: 2px solid black; border-bottom: 2px solid black;"> -->



    <footer>

        <!-- COPY RIGHTS -->
        <div>
            &copy;<span class="brand" style="font-style: italic;">MyRecipes</span>
        </div>


        <!-- FOOTER LINKS -->
        <div class="footer-items">
            <ul>
                <li><a href="home.html">Terms of Service</a></li>
                <li><a href="content.html">Privacy Policy</a></li>

            </ul>
        </div>

    </footer>
      
    <script src="../js/signup.js"></script>
</body>
</html>