<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe sharing</title>
    <link rel="stylesheet" href="../assets/css/global_user.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

    <header>
        <nav class="menu-container">
            <!-- burger menu -->
            <input type="checkbox" aria-label="Toggle menu" />
            <span></span>
            <span></span>
            <span></span>
          
            <!-- logo -->
            <a href="#" class="menu-logo">
              <!-- <img src="https://wweb.dev/resources/navigation-generator/logo-placeholder.png" alt="My Awesome Website"/> -->
               <img src="../assets/images/mylogo.png" alt="logo">
            </a>
          
            <!-- menu items -->
            <div class="menu">
              <ul>
                <li>
                  <a href="../index.php">
                    Home
                  </a>
                </li>
                <li>
                  <a href="recipe_feed.html">
                    Recipes
                  </a>
                </li>
                <li>
                  <a href="#favorites">
                    Favorites
                  </a>
                </li>
                <li>
                  <a href="dashboard.php">
                    Dashboard
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="register_user.html">
                    Sign-up
                  </a>
                </li>
                <li>
                  <a href="login.html">
                    Login
                  </a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    


    <!-- <hr style="width: 90%; border-top: 2px solid black; border-bottom: 2px solid black;"> -->



    <main>

        <!-- HEADING -->
        <div class="heading">
            <h1 style="margin-bottom: 0px; font-size: 60px;">Join <span class='brand' style=" font-style: italic;">MyRecipes</span> Community!</h1>
            <p style="margin-top: 0px;">Sign up to become a member and share your recipes.</p>
        </div>

        <!-- SIGN UP FORM -->
        <div class="signup-form">
            <form action="" method="post" id="register-form">
                <h1 style="text-align: center; margin-bottom: 0px;">Sign Up!</h1>

                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="fname" required placeholder="Enter your firstname">

                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" id="lname" required placeholder="Enter your lastname">

                <label for="email">Email</label>
                <input type="email" name="email" id="email" required placeholder="Enter your email">
                <span id="email-error-message" class="error"></span>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" required min="8" placeholder="Enter your password">
                <span id="password-error-message" class="error"></span>

                <input type="submit" id="signup-btn">

            </form>

            <p>Already have an account? <a href="login.html">Login</a></p>
        </div>
    </main>

    <!-- <hr style="margin-top: 30px; width: 90%; margin-bottom: 0px; border-top: 2px solid black; border-bottom: 2px solid black;"> -->



    <footer>

        <!-- COPY RIGHTS -->
        <div>
            &copy;<span class="brand" style="font-style: italic;">MyRecipes</span>
        </div>


        <!-- FOOTER LINKS -->
        <div class="footer-items">
            <ul>
                <li><a href="home.html">Terms of Service</a></li>
                <li><a href="content.html">Privacy Policy</a></li>

            </ul>
        </div>

    </footer>
      
    <script src="../assets/js/register.js"></script>
</body>
</html>